CRWebPortal/CRWebPortal/Connected Services/CRSystemAPI/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14856/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" />
  <xs:import schemaLocation="http://localhost:14856/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SaveChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="ChangeRequest" nillable="true" type="q1:ChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="SaveChangeRequestResult" nillable="true" type="q2:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="req" nillable="true" type="q3:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="SaveCompanyResult" nillable="true" type="q4:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="req" nillable="true" type="q5:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="SaveRoleResult" nillable="true" type="q6:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSystemUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="req" nillable="true" type="q7:SystemUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSystemUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="SaveSystemUserResult" nillable="true" type="q8:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachItemsToChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="attachment" nillable="true" type="q9:CR_Attachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachItemsToChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="AttachItemsToChangeRequestResult" nillable="true" type="q10:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachSystemsAffectedToChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="systemAffected" nillable="true" type="q11:SystemAffected" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachSystemsAffectedToChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="AttachSystemsAffectedToChangeRequestResult" nillable="true" type="q12:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachPostChangeTestToChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="test" nillable="true" type="q13:PostChangeTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachPostChangeTestToChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="AttachPostChangeTestToChangeRequestResult" nillable="true" type="q14:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachRiskAnalysisToChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="riskAnalysis" nillable="true" type="q15:RiskAnalysis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachRiskAnalysisToChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="AttachRiskAnalysisToChangeRequestResult" nillable="true" type="q16:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachRollBackPlanToChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="plan" nillable="true" type="q17:RollBackPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachRollBackPlanToChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="AttachRollBackPlanToChangeRequestResult" nillable="true" type="q18:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignChangeRequestToApprover">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="link" nillable="true" type="q19:ApproverForChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignChangeRequestToApproverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="AssignChangeRequestToApproverResult" nillable="true" type="q20:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChangeRequestStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="link" nillable="true" type="q21:ApproverForChangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChangeRequestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="UpdateChangeRequestStatusResult" nillable="true" type="q22:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOneTimePIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MethodOfSending" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOneTimePINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="SendOneTimePINResult" nillable="true" type="q23:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="LoginResult" nillable="true" type="q24:SystemUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoredProc" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q25:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteDataSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimeBoundAccessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="req" nillable="true" type="q26:TimeBoundAccessRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimeBoundAccessRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="SaveTimeBoundAccessRequestResult" nillable="true" type="q27:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSqlQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlText" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="tbar" nillable="true" type="q28:TimeBoundAccessRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSqlQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteSqlQueryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlText" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="tbar" nillable="true" type="q29:TimeBoundAccessRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteNonQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForValidTimeBoundAccessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="user" nillable="true" type="q30:SystemUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForValidTimeBoundAccessRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="CheckForValidTimeBoundAccessRequestResult" nillable="true" type="q31:TimeBoundAccessRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveChangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChangeRequestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Decision" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveChangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveChangeRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTBAR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TbarId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Decision" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTBARResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveTBARResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePegasusSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="req" nillable="true" type="q32:PegasusSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePegasusSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ChangeRequestSubSystem.Entities" minOccurs="0" name="SavePegasusSystemResult" nillable="true" type="q33:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>